body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-around;
}

.logo {
  color: #222;
}

.nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: row;
  flex-grow: 1;
  color: #222;
}

ul, li {
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}
ul .list__item, li .list__item {
  margin: 0.5rem;
}

a, a:link, a:visited {
  color: #222;
  text-decoration: none;
}
a:hover, a:link:hover, a:visited:hover {
  color: red;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #f9b77a;
  border-radius: 0.5rem;
  cursor: pointer;
}
button:hover {
  color: white;
  background-color: red;
}

.landing {
  height: 600px;
  background-color: #444;
  background-size: contain;
  margin: 0 auto;
  display: grid;
}
.landing .landing__h1 {
  width: 80%;
  margin: auto;
  display: flex;
}
.landing .landing__h1 h1 {
  z-index: 1;
}
.landing .landing__h1 .img01 {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  margin: 0 auto;
  right: 10%;
  transform: translate(0, -50%);
}

.highlight1 {
  width: 100%;
  height: 600px;
  background-color: #222;
  background-image: url(../images/Bread.JPG);
  background-size: cover;
  background-repeat: no-repeat;
}
.highlight1 .highlight1__callout {
  width: 70%;
  background-color: #fff1e6;
  margin: auto;
  position: relative;
  align-items: center;
  top: 80%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.highlight1 .highlight1__callout p {
  width: 80%;
}

.highlight2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  margin: auto;
  padding-top: 250px;
}
.highlight2 .highlight2__article {
  flex-basis: calc(50% - 2rem);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.5rem;
}
.highlight2 .highlight2__image {
  flex-basis: calc(50% - 2rem);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.5rem;
  min-height: 400px;
  background-image: url(../images/Bread7.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.highlight2 .highlight2__videocontainer {
  flex-basis: calc(50% - 2rem);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.5rem;
}

.highlight3 {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
.highlight3 h1 {
  text-align: center;
}
.highlight3 .news {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
}
.highlight3 .news__article {
  background-color: #fff1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: calc(25% - 2rem);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 0.5rem;
  padding: 0.5rem;
}
.highlight3 .news__article p {
  width: 90%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }

  .highlight2, .footer, .highlight3, .news {
    flex-direction: column !important;
    flex-wrap: nowrap;
  }
}
/* font stuff */
html, .root {
  font-size: 15px;
  line-height: 22px;
}

body, .article {
  font-family: sans-serif;
  font-size: 1rem;
  line-height: 1.4666667rem;
  margin: auto;
  width: 100%;
  font-family: "Open Sans", sans-serif;
}

h1, .h1 {
  font-size: 4.0666667rem;
  line-height: 4.4rem;
  margin-top: 1.4666667rem;
  margin-bottom: 0rem;
}

h2, .h2 {
  font-size: 2.5333333rem;
  line-height: 2.9333333rem;
  margin-top: 2.9333334rem;
  margin-bottom: 1.4666667rem;
}

h3, .h3 {
  font-size: 1.6rem;
  line-height: 2.9333333rem;
  margin-top: 1.4666667rem;
  margin-bottom: 0rem;
}

h4, .h4 {
  font-size: 1rem;
  line-height: 1.4666667rem;
  margin-top: 1.4666667rem;
  margin-bottom: 0rem;
}

h5, .h5 {
  font-size: 1rem;
  line-height: 1.4666667rem;
  margin-top: 1.4666667rem;
  margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 0rem;
  margin-bottom: 1.4666667rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*# sourceMappingURL=style.css.map */
