body {
  margin: 0;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #272321;
  cursor: url("../images/cursor2.png"), default;
}

.header {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-around;
}

.header__logo {
  width: 10%;
  height: 70%;
  background-image: url(../images/Bread5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 center;
}
.header__logo:hover {
  background-image: url(../images/Bread3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 center;
  transition: 0.5s;
}

.nav {
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: row;
  flex-grow: 1;
}

a, a:link, a:visited {
  color: #272321;
  text-decoration: none;
}
a:hover, a:link:hover, a:visited:hover {
  color: #d69457;
  transition: 0.5s;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: #d69457;
  border-radius: 0.5rem;
  cursor: url("../images/cursor.png"), default;
}
button:hover {
  color: #fff0e4;
  background-color: #272321;
  transition: 0.5s;
}

.landing {
  height: 800px;
  background-color: #d69457;
  background-image: url(../images/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: grid;
  overflow: hidden;
}
.landing .landing__container {
  width: 80%;
  margin: auto;
  display: flex;
  color: #272321;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.landing .landing__container h1 {
  z-index: 1;
}
.landing .landing__container .img01 {
  width: 500px;
  height: 500px;
  background-image: url(../images/sexybakers.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.highlight1 {
  width: 100%;
  min-height: 300px;
  max-height: 1000px;
  background-color: #fff;
  background-image: url(../images/wheat.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.highlight1 .highlight1__callout {
  width: 70%;
  background-color: #fff0e4;
  margin: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transform: translate(0%, 50%);
}
.highlight1 h2 {
  text-align: center;
}
.highlight1 p {
  width: 80%;
}

.highlight2 {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;
  margin: auto;
  margin-top: 20rem;
}
.highlight2 .highlight2__article {
  flex-basis: calc(50% - 2rem);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 1rem;
}
.highlight2 .highlight2__image {
  flex-basis: calc(50% - 2rem);
  width: 100%;
  flex-shrink: 0;
  flex-grow: 0;
  margin: 1rem;
  min-height: 400px;
  background-image: url(../images/Bread7.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
}
.highlight2 .highlight2__videocontainer {
  flex-basis: calc(50% - 2rem);
  flex-shrink: 0;
  flex-grow: 0;
  margin: 1rem;
}

.highlight3 {
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}
.highlight3 h1 {
  text-align: center;
}
.highlight3 .news {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5rem;
  max-width: 100%;
}
.highlight3 .news > * {
  flex: 1 220px;
  margin: 1rem;
}
.highlight3 .news__article {
  background-color: #fff0e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
}
.highlight3 .news__article p {
  width: 80%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10rem auto 0;
}

/* media queries */
@media only screen and (min-width: 800px) {
  .mobilenav {
    display: none;
  }

  ul, li {
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  ul .list__item, li .list__item {
    margin: 0.5rem;
  }
  ul .list__item .list__item--icon, li .list__item .list__item--icon {
    width: 2rem;
    height: 2rem;
  }
}
@media only screen and (max-width: 800px) {
  .header {
    display: none;
  }

  .mobilenav {
    width: 100%;
    position: fixed;
    z-index: 3;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
  }
  .mobilenav .mobilenav__logo {
    float: left;
    margin: 10px;
    min-width: 40px;
    min-height: 40px;
    background-image: url(../images/Bread5.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 0 center;
  }
  .mobilenav ul, .mobilenav .mobilenav__items {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
  }
  .mobilenav ul a {
    text-align: right;
    display: block;
    padding: 1.5rem;
  }
  .mobilenav ul a:hover {
    background-color: #333;
    color: #fff0e4;
  }
  .mobilenav .mobilenav__items {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
  }
  .mobilenav .mobilenav__btn--icon {
    padding: 2rem;
    position: relative;
    float: right;
    cursor: pointer;
  }
  .mobilenav .burgerline {
    background: #333;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: 0.2s ease-out;
  }
  .mobilenav .burgerline:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: 0.2s ease-out;
    top: 5px;
  }
  .mobilenav .burgerline:after {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    top: -5px;
  }
  .mobilenav .mobilenav__btn {
    display: none;
  }
  .mobilenav .mobilenav__btn:checked ~ .mobilenav__items {
    max-height: 240px;
  }
  .mobilenav .mobilenav__btn:checked ~ .mobilenav__btn--icon .burgerline {
    background: transparent;
  }
  .mobilenav .mobilenav__btn:checked ~ .mobilenav__btn--icon .burgerline:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .mobilenav .mobilenav__btn:checked ~ .mobilenav__btn--icon .burgerline:after {
    transform: rotate(45deg);
    top: 0;
  }

  .highlight2, .footer, .highlight3, .news, .landing, .landing__container {
    flex-direction: column !important;
    flex-wrap: nowrap;
  }

  .highlight2, .highlight3, .header, .footer {
    width: 90%;
  }

  .highlight1 .highlight1__callout {
    width: auto;
    transform: translate(0%, 0%);
    background-color: rgba(255, 240, 228, 0.9);
  }

  .highlight2 {
    margin-top: 10rem;
  }

  .footer p, .footer ul, .footer li {
    margin: 0;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  .footer .list__item {
    margin: 0.5rem;
  }
  .footer .list__item .list__item--icon {
    width: 2rem;
    height: 2rem;
  }
}
/* font stuff */
html, .root {
  font-size: 15px;
  line-height: 26px;
}

body, .article {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7333333rem;
  width: 100%;
  margin: auto;
}

h1, .h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4.0666667rem;
  line-height: 5.2rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h2, .h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 2.5333333rem;
  line-height: 3.4666667rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h3, .h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7333333rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h4, .h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7333333rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

h5, .h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7333333rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

p, ul, ol, pre, table, blockquote {
  margin-top: 1.5333333rem;
  margin-bottom: 1.5333333rem;
}

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}

a, b, i, strong, em, small, code {
  line-height: 0;
}

sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/*# sourceMappingURL=style.css.map */
