$font-stack: 'Nunito', sans-serif;
$primary-color: #fff0e4;
$primaryBtn: #d69457;
$fontcolor: #171716;


body {
  margin: 0;
  width: 100%;
  font-family: $font-stack;
  color: $fontcolor;
  cursor: url("../images/cursor2.png"), default;
}


.header {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100px;
  margin: 0 auto;
  justify-content: space-around;

}


.header__logo {
  width: 10%;
  height: 70%;
  background-image: url(../images/Bread5.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left 0 center;

  &:hover {
    background-image: url(../images/Bread3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 0 center;
    transition: 0.5s;
  }
  
}


.list {
  display: inline-flex;
  justify-content: flex-end;
  align-items: baseline;

  flex-direction: row;
  flex-grow: 1;

}


a, a:link, a:visited {
  color: $fontcolor;
  text-decoration: none;

  &:hover {
    color: $primaryBtn;
    transition: 0.5s;
  }

}



.landing {
  height: 950px;
  background-color: $primaryBtn;
  background-image: url(../images/landing.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: grid;
  overflow: hidden;

  .landing__container {
    width: 80%;
    margin: auto;
    display: flex;
    color: $fontcolor;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    h1 {
      z-index: 1;
    }

    .landing__img01 {
      width: 500px;
      height: 500px;
    
      background-image: url(../images/sexybakers.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;  

      

    }
  }




}

.highlight1 {
  width: 100%;
  min-height: 300px;
  max-height: 1000px;
  background-color: #fff;
  background-image: url(../images/wheat.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 
  .highlight1__callout {
    width: 70%;
    background-color: rgba($primary-color, $alpha: 1.0);
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    transform: translate(0%, 50%);

  }
  h2 {
    text-align: center;
  }

  p {
    width: 80%;
  }

}


.two-col {
  width: 80%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: space-between;

  margin: auto;
  margin-top: 20rem;

  

  .two-col__article {
   flex-basis: calc(50% - 2rem);
   flex-shrink: 0;
   flex-grow: 0;
   margin: 1rem; 

  }

  .two-col__image {
    flex-basis: calc(50% - 2rem);
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 1rem;
    min-height: 400px;
    background-image: url(../images/Bread7.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color:#fff;
   }


  .two-col__videocontainer {
   flex-basis: calc(50% - 2rem);
   flex-shrink: 0;
   flex-grow: 0;
   margin: 1rem;
   }

  
}

.highlight3{
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;

  h1 {
    text-align: center;
  }

  .news {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5rem;  
    max-width: 100%;
  }

  .news>* {
    flex: 1 220px;
    margin: 0.5rem;
  }

  .news__article {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
   

    p {
      width: 80%;
    }
  }
}


.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 10rem auto 0;

}



/* media queries */

@media only screen and (min-width: 800px) { 
  .mobilenav {
    display: none;
  }

  ul, li {
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;

    .list__item {
      margin: 0.5rem;
    
      .list__item--icon {
        width: 2rem;
        height: 2rem;
      }
    
    }  
  }
  
  .button {
    padding: 1rem;
    text-align: center;
    background-color: $primaryBtn;
    border-radius: 0.5rem;
    cursor: url("../images/cursor3.png"), default;

     
   &:hover {
      color: $primary-color;
      background-color: $fontcolor;
      transition: 0.5s;

   }
  }

}

@media only screen and (max-width: 800px) {

  .button {
    padding: 1rem;
    text-align: center;
    background-color: $primaryBtn;
    border-radius: 0.5rem;
     
   &:hover {
      color: $primary-color;
      background-color: $fontcolor;
      transition: 0.5s;

   }
  }

  .header {
    display: none;
  }


  .mobilenav {
    width: 100%;
    position: fixed;
    z-index: 3;
    display: block;
    background-color: rgba($color: #fff, $alpha: 0.7);

    .mobilenav__logo {
      float: left;
      margin: 10px;
      min-width: 40px;
      min-height: 40px;
      background-image: url(../images/Bread5.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left 0 center;
    }

    ul, .mobilenav__items {
      margin: 0;
      padding: 0;
      overflow: hidden;
      list-style: none;
    }

    ul a {
      text-align: right;
      display: block;
      padding: 1.5rem;

      &:hover {
        background-color: #333;
        color: $primary-color;
      }
    }

    .mobilenav__items {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease-out;
    }

    .mobilenav__btn--icon{
      padding: 2rem;
      position: relative;
      float: right;
      cursor: pointer;
    }

    .burgerline {
      background: #333;
      display: block;
      height: 2px;
      width: 18px;
      position: relative;
      transition: .2s ease-out;

      &:before {
        background: #333;
        content:"";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: .2s ease-out;
        top: 5px;
      }

      &:after {
        background: #333;
        content:"";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: -5px;
      }
    }

    .mobilenav__btn {
      display: none;

      &:checked ~ .mobilenav__items {
        max-height: 240px;
      }

      &:checked ~ .mobilenav__btn--icon .burgerline{
        background: transparent;
      }

      &:checked ~ .mobilenav__btn--icon .burgerline:before{
        transform: rotate(-45deg);
        top: 0;
      }

      &:checked ~ .mobilenav__btn--icon .burgerline:after{
        transform: rotate(45deg);
        top: 0;
      }
    }



  }
  


  .two-col, .footer, .highlight3, .news, .landing, .landing__container {
    flex-direction: column !important;
    flex-wrap: nowrap;
  }

  .two-col, .highlight3, .header, .footer {
    width: 90%;
  }

  .highlight1 {
    .highlight1__callout {
      width: auto;
      transform: translate(0%,0%);
      background-color: rgba($primary-color, $alpha: 0.9);
    }
    
  }

  .two-col {
    margin-top: 10rem;
  }

  .footer {
    p, ul, li {
      margin: 0.5rem;
      list-style: none;
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0;
    }

      .list__item {
        margin: 0.5rem;
      
        .list__item--icon {
          width: 2rem;
          height: 2rem;
        }
      }  
    
  }

}

















/* font stuff */

html, .root {
  font-size: 18px;
  line-height: 24px;
}
body, .article {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  line-height: 1.33333333em;
  margin: auto;
}
h1, .h1 {
  font-family: 'Nunito', sans-serif; font-weight:800;
  font-size: 3.61111111em;
  line-height: 1.10769231em;
  margin-top: 0em;
  margin-bottom: 0em;
}
h2, .h2 {
  font-family: 'Nunito', sans-serif; font-weight: 800;
  font-size: 1.88888889em;
  line-height: 1.41176471em;
  margin-top: 0em;
  margin-bottom: 0em;
}
h3, .h3 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.38888889em;
  line-height: 1.92em;
  margin-top: 0em;
  margin-bottom: 0em;
}
h4, .h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  line-height: 1.33333333em;
  margin-top: 0em;
  margin-bottom: 0em;
}
h5, .h5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  line-height: 1.33333333em;
  margin-top: 0em;
  margin-bottom: 0em;
}
p, ul, ol, pre, table, blockquote {
  margin-top: 1.33333333em;
  margin-bottom: 1.33333333em;
}
ul ul, ol ol, ul ol, ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}

/* Let's make sure all's aligned */
hr, .hr {
  border: 1px solid;
  margin: -1px 0;
}
a, b, i, strong, em, small, code {
  line-height: 0;
}
sub, sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}